* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.password-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#password {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#copy {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
}

#copy:hover {
  background-color: #005ea6;
}

.options-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background-color: #005ea6;
}